<h3>Merge Articles</h3>
<p>Article ID <%= text_field 'merge', 'with', :class => 'span1', :style => ' width: 10%' %></p>
<span><input id='merge_articles' type='submit' value='Merge' name='merge_button' class='btn info' /></span>
